{% extends 'homepage/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/shop_styles.css' %}">
{% endblock %}
{% block content %}

<section class="section-content padding-y">
    <div class="card mx-auto" style="max-width:520px; margin-top:40px;">
        <article class="card-body">
            {% include "includes/alerts.html" %}
            <header class="mb-4">
                <h4 class="card-title">Đăng ký</h4>
            </header>
            <form action="{% url 'register' %}" method="POST">
                {% csrf_token %}
                <div class="form-row">
                    <div class="col form-group">
                        <label>Tên</label>
                        {{ form.first_name }}
                    </div>
                    <div class="col form-group">
                        <label>Họ</label>
                        {{ form.last_name }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Email</label>
                        {{ form.email }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Số điện thoại</label>
                        {{ form.phone_number }}
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label>Tạo mật khẩu</label>
                        {{ form.password }}
                    </div>
                    <div class="form-group col-md-6">
                        <label>Xác nhận mật khẩu</label>
                        {{ form.confirm_password }}
                    </div>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Đăng ký </button>
                </div>
                {{ form.email.errors }}
                {{ form.non_field_errors }}
            </form> 
        </article>
    </div>
    <p class="text-center mt-4">Bạn đã có tài khoản? <a href="{% url 'login' %}"> Đăng nhập</a></p>
    <br><br>
</section>
{% endblock %}
{% block js %}
{% endblock %}
