{% extends 'homepage/base.html' %}
{% load static %}
{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'styles/shop_styles.css' %}">
<script src="{% static 'js/jquery-2.0.0.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/bootstrap.bundle.min.js' %}" type="text/javascript"></script>
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>
{% endblock %}
{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    <!-- ============================ COMPONENT LOGIN   ================================= -->
    <div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div class="card-body">
            <h4 class="card-title mb-4">Đặt lại mật khẩu</h4>
            {% include "includes/alerts.html" %}
            <form action="{% url 'reset_password' %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Mật khẩu mới"
                        name="password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Xác nhận mật khẩu"
                        name="confirm_password">
                </div> <!-- form-group// -->
                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Đặt lại </button>
                </div> <!-- form-group// -->
            </form>
        </div> <!-- card-body.// -->
    </div> <!-- card .// -->
    <br><br>
    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock %}