{% load static %}
<!-- footer -->
	<footer id="footer-section" class="footer" style="background-image:url({% static 'images/trends_background.jpg' %})">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 footer_col">
					<div class="footer_column footer_contact">
						<div class="logo_container">
							<div class="logo"><a href="#">ANIFIG SHOP</a></div>
						</div>
						<div class="footer_title">Liên hệ chúng tôi 24/7</div>
						<div class="footer_phone">+84 397611383</div>
						<div class="footer_contact_text">
							<p>01, Võ Văn Ngân</p>
							<p>TP.Thủ Đức, TP.HCM</p>
						</div>
						<div class="footer_social">
							<ul>
								<li><a href="https://www.facebook.com/h.n.v.352"><i class="fab fa-facebook-f"></i></a></li>
								<li><a href="https://www.instagram.com/khowfsix/?hl=en"><i class="fab fa-instagram"></i></a></li>
								<li><a href="https://github.com/hoangnhatvu/AnifigShop.git"><i class="fab fa-github"></i></a></li>
							</ul>
						</div>
					</div>
				</div>

				<div class="col-lg-2 offset-lg-2">
					<div class="footer_column">
						<div class="footer_title">Nhóm 15</div>
						<ul class="footer_list">
							<li><a href=#>Đỗ Nguyễn Tấn Linh</a></li>
							<li><a href=#>Hoàng Nhất Vũ</a></li>
							<li><a href=#>Trần Thế Vỹ</a></li>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">MSSV</div>
						<ul class="footer_list">
							<li><a href=#>20110669</a></li>
							<li><a href=#>20110751</a></li>
							<li><a href=#>20110752</a></li>
						</ul>
					</div>
				</div>

				<div class="col-lg-2">
					<div class="footer_column">
						<div class="footer_title">Điện Toán Đám Mây</div>
						<ul class="footer_list">
							<ul class="footer_list">
							<li><a href="#">Mã học phần: 221CLCO332779</a></li>
							<li><a href="#">GVHD: ThS. Trương Thị Ngọc Phượng</a></li>
						</ul>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>
