{% load static %}
<!-- Header -->
	<header class="header">

		<!-- Top Bar -->

		<div class="top_bar">
			<div class="container">
				<div class="row">
					<div class="col d-flex flex-row">
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static 'images/phone.png' %}" alt=""></div>+84 397611383</div>
						<div class="top_bar_contact_item"><div class="top_bar_icon"><img src="{% static 'images/mail.png' %}" alt=""></div><a href="mailto:hoangnhatvu350800@gmail.com">hoangnhatvu350800@gmai.com</a></div>
						<div class="top_bar_content ml-auto">
							<div class="top_bar_user">
<!--								{% if user.id is None %}-->
								<div class="user_icon"><img src="{% static 'images/user.svg' %}" alt=""></div>
								<div><a href=#>Đăng ký</a></div>
								<div><a href=#>Đăng nhập</a></div>
<!--								{% else %}-->
<!--								<div class="user_icon"><img src="{% static 'images/user.svg' %}" alt=""></div>-->
<!--								<div><a href="#">{{user.first_name}}</a></div>-->
<!--								<div><a href="#">Đăng xuất</a></div>-->
<!--								{% endif %}-->
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Header Main -->

		<div class="header_main">
			<div class="container">
				<div class="row">

					<!-- Logo -->
					<div class="col-lg-2 col-sm-3 col-3 order-1">
						<div class="logo_container">
							<div class="logo"><a href="/">HPTV SHOP</a></div>
						</div>
					</div>

					<!-- Search -->
					<div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
						<div class="header_search">
							<div class="header_search_content">
								<div class="header_search_form_container">
									<form action=# class="header_search_form clearfix" method="POST">
										{% csrf_token %}
<!--										Nhập tên sản phẩm hoặc cái gì đó của sản phẩm cần tìm-->
										<input type="search" required="required" class="header_search_input" placeholder="Tìm kiếm sản phẩm" aria-label="Search" name="searching">

										<div class="custom_dropdown">
											<div class="custom_dropdown_list">
												<span class="custom_dropdown_placeholder clc">Tất cả sản phẩm</span>
												<ul class="custom_list clc">
												</ul>
											</div>
										</div>

<!--										button hình kính lúp-->
										<button type="submit" class="header_search_button trans_300" value="Submit"><img src="{% static 'images/search.png' %}" alt=""></button>
									</form>
								</div>
							</div>
						</div>
					</div>

					<!-- Wishlist -->
					<div class="col-lg-4 col-9 order-lg-3 order-2 text-lg-left text-right">
						<div class="wishlist_cart d-flex flex-row align-items-center justify-content-end">
							<!-- Cart -->
							<div class="cart">
								<div class="cart_container d-flex flex-row align-items-center justify-content-end">
									<div class="cart_icon">
										<img src="{% static 'images/cart.png' %}" alt="">
										<div class="cart_count"><span>{{cart_count}}</span></div>
									</div>
									<div class="cart_content">
									<div class="cart_text"><a href=#>Giỏ hàng</a></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Main Navigation -->

		<nav class="main_nav">
			<div class="container">
				<div class="row">
					<div class="col">

						<div class="main_nav_content d-flex flex-row">

							<!-- Categories Menu -->

							<div class="cat_menu_container">
								<div class="cat_menu_title d-flex flex-row align-items-center justify-content-start">
									<div class="cat_burger"><span></span><span></span><span></span></div>
									<div class="cat_menu_text">Danh mục sản phẩm</div>
								</div>
								<ul class="cat_menu">
<!--									{% for category in links %}-->
<!--										<li><a href="#">{{category.category_name}}<i class="fas fa-chevron-right"></i></a></li>-->
<!--									{% endfor %}-->
								</ul>
							</div>
							<!-- Main Nav Menu -->

							<div class="main_nav_menu ml-auto">
								<ul class="standard_dropdown main_nav_dropdown">
									<li><a href=#>Trang chủ<i class="fas fa-chevron-down"></i></a></li>
									<li><a href=#>Cửa hàng<i class="fas fa-chevron-down"></i></a></li>
									<li class="hassubs">
										<a href=#>Hãng nổi bật<i class="fas fa-chevron-down"></i></a>
										<ul>
											<li><a href=#>Apple<i class="fas fa-chevron-down"></i></a></li>
											<li><a href=#>SamSung<i class="fas fa-chevron-down"></i></a></li>
											<li><a href=#>Oppo<i class="fas fa-chevron-down"></i></a></li>
											<li><a href=#>Xiaomi<i class="fas fa-chevron-down"></i></a></li>
											<li><a href=#>VSmart<i class="fas fa-chevron-down"></i></a></li>
										</ul>
									</li>
									<li><a href=#>Khám phá<i class="fas fa-chevron-down"></i></a></li>
									<li><a href=#>Liên hệ<i class="fas fa-chevron-down"></i></a></li>
									<li><a href=#>Về chúng tôi<i class="fas fa-chevron-down"></i></a></li>
								</ul>
							</div>

							<!-- Menu Trigger -->

							<div class="menu_trigger_container ml-auto">
								<div class="menu_trigger d-flex flex-row align-items-center justify-content-end">
									<div class="menu_burger">
										<div class="menu_trigger_text">menu</div>
										<div class="cat_burger menu_burger_inner"><span></span><span></span><span></span></div>
									</div>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</nav>
	</header>
<!-- Banner -->